body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

header {
  background-color: violet;
  padding: 10px;
  text-align: center;
  color: black;
}

header img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

nav ul {
  background-color: #444;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: pink;
}

main {
  background-color: pink;
  padding: 50px;
  margin: 45px;
}

h2,
h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px 0;
}
